@import './variables.scss';

$boardColor: #C9CEDA;
$riverColor: #57A3D8;
$castleColor: #809099;

$pieceSelectionColor: yellow;
$moveSelectionColor: red;

$playerOneColor: red;
$playerTwoColor: blue;
.player1, .player2 {
    background-color: $backgroundColor;
    border: $buttonColor 4px solid;
    p {
        margin-bottom:5px;
    }
}
.buttons {
    .btn {
        font-size:15px;
        padding:4px 8px;
        background-color: $buttonColor;
        text-align:center;
        border: 0px;
        height: 30px;
        &:hover {
            background-color: $buttonHoverColor;
        }
    }
}


.board{
    p {
        margin: 0px;
    }
    margin: 7px 3px;
    max-width:500px;
    max-height:500px;
    outline: black 4px solid;
    display: flex;
    flex-direction: column;
    * {
        flex-grow:1;
        flex-shrink:1;
        *{
            flex-grow:1;
            flex-shrink:1;
        }
    }
    .board_row {
        display: flex;
        flex-wrap:nowrap;
        .piece {
            padding:3px;
            font-size:25px;
            background: $boardColor;
            outline: black 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            transition: .2s;
            cursor: pointer;
            &.player {
                span {
                    height:100%;
                    -moz-border-radius: 50%; /* or 50% */
                    border-radius: 50%; /* or 50% */
                    border: darken($boardColor, 30%) 6px solid;
                }
            }

            &.river {

                &.player {
                    span {
                        height:100%;
                        -moz-border-radius: 50%; /* or 50% */
                        border-radius: 50%; /* or 50% */
                        border: darken($riverColor, 30%) 7px solid;
                    }
                }
                background: $riverColor;
            }
            &.castle {
                &.player {
                    span {

                        height:100%;
                        -moz-border-radius: 50%; /* or 50% */
                        border-radius: 50%; /* or 50% */
                        border: darken($castleColor, 30%) 7px solid;
                    }
                }
                background: $castleColor;
            }
            &.selected {
                background: $pieceSelectionColor;
            }
            &.move {
                background:$moveSelectionColor;
            }

            &:hover {
                background: $pieceSelectionColor;
                &.desiredMoves{
                    background: $moveSelectionColor;
                }
            }

        }
    }
}
.buttons {
    * {
        margin:5px;
    }
}