@import "./variables";
#profiles {
  #wrapper {
    max-width: 800px;
  }
  .invite_button {
    flex-shrink: 0;
    //float:right;
    margin:0px 10px 5px;
    white-space: nowrap;
    font-size:24px;
    transition: .3s;
    cursor: pointer;
    color: $buttonColor;
    &:hover {
      color: $buttonHoverColor;
    }
  }
}

#mygames, #profiles {
  .btn {
    background-color: $buttonColor;
    text-align:center;
    border: 0px;
    height: 30px;
    &:hover {
      background-color: $buttonHoverColor;
    }
  }

  #wrapper {
    margin:auto;
    max-width: 600px;
  }

  #games {
    margin:5px 20px;
    #subtitle {
      font-size: 25px;
      margin-bottom: 15px;
      border-bottom: $backgroundColor 3px solid;

    }
    #search_input {
      display: flex;
      * {
        height:30px;
        margin: 3px;
      }
      .btn-group {
        margin:0px;
        .dropdown-menu {
          margin:0px;
          padding: 0px;
          height:auto;
          width:auto;
          border-radius: 0px 5px 5px ;
          .dropdown-item {
            font-size: 14px;
            box-sizing:border-box;
            height:auto;
            margin: 0px;
            padding: 3px;
            overflow: hidden;
            &:active {
              color:black;
              font-weight: 600;
            }
            &:hover {
              background: darken($foregroundColor, 5%);
            }
          }
        }
      }
      .btn {
        font-size:15px;
        padding:4px 8px;
      }
    }
    #game_data {
      display: flex;
      flex-direction: column;
      max-height: 250px;
      overflow-y:scroll;
      p {
        font-size: 14px;
        margin:4px;
      }
      .result {
        display: flex;
        justify-content: space-between;
        margin:3px;
        padding:5px;
        background-color: darken($foregroundColor, 10%);
        font-size: 15px;
        p {
          margin:auto 10px;
        }

        .game_buttons {
          flex-shrink: 0;
          float:right;
          margin:auto 10px;
          white-space: nowrap;
          font-size:18px;
          transition: .3s;
          cursor: pointer;
          color: $buttonColor;
          &:hover {
            color: $buttonHoverColor;
          }
        }
      }
    }
  }


}



